.container {
    width: 426px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}